<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AoShinhoServ_Monitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <AoShinhoServ_Monitor.Properties.Settings>
            <setting name="MapPath" serializeAs="String">
                <value />
            </setting>
            <setting name="CharPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LoginPath" serializeAs="String">
                <value />
            </setting>
            <setting name="WebPath" serializeAs="String">
                <value />
            </setting>
            <setting name="WhiteMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DebugMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DevMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseCMake" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PreRenewal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ROBPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ROBMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ROBH" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="wsport" serializeAs="String">
                <value>5999</value>
            </setting>
            <setting name="FontFamily" serializeAs="String">
                <value>Calibri</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="TrackedPIDs" serializeAs="String">
                <value />
            </setting>
        </AoShinhoServ_Monitor.Properties.Settings>
    </userSettings>
</configuration>
